:root {
  --accent-color: #fff;
  --walkways-secrets-info-color: #e0e0e0;
  --title-here-color: #939393;
  --background-white-info-color: #6f7787;
  --title-color: #000;
  --button-color: #dd2242;
  --footer-color: #010a20;
  --text-color: rgba(21, 20, 57, 0.4);
}

body {
  font-family: "DM Sans", sans-serif;
}

.header-wrapper {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4430147058823529) 0%,
      rgba(0, 0, 0, 0.48783263305322133) 35%
    ),
    url(../img/hero-bacground.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 1640px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  padding-top: 28px;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 62px;
}

.header-navigation {
  margin-right: auto;
}

.header-lists {
  display: flex;
}

.logo {
  color: var(--accent-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 23.961px;
  font-weight: 900;
  line-height: 80.5%;
  letter-spacing: 0.315px;
  text-transform: uppercase;
  max-width: 129px;
  margin-right: 78px;
}

.header-link {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.header-search {
  margin-right: 40px;
}

/* Indonesia */
.indonesia {
  padding-top: 160px;
}

.Indonesia-black {
  display: flex;
  align-items: flex-end;
}

.black-say {
  max-width: 418px;
  height: 254px;
}

.indonesia-text {
  color: var(--accent-color);
  font-family: Roboto;
  font-size: 120px;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
  max-width: 628px;
  margin-left: 277px;
  margin-bottom: 21px;
}

.indonesia-btn {
  border-radius: 211px;
  background: var(--button-color, #dd2242);
  color: var(--accent-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  width: 271.141px;
  height: 82px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-left: 277px;
  margin-bottom: 241px;
}

.indonesia-list {
  display: flex;
  gap: 198px;
  border: 1px solid #000;
  opacity: 0.6;
  background: #000;
  height: 210px;
}

.indonesia-nomber {
  color: var(--button-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 41px;
  margin-bottom: 14px;
}

.indonesia-tytle {
  color: var(--accent-color);
  font-size: 26.409px;
  font-weight: 700;
  line-height: 41.081px;
}

.item-one {
  margin-left: 71px;
}

.item-two {
  margin-right: 128px;
}

.indonesia-info {
  color: var(--title-here-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}
/* walkways */

.walkways {
  padding-top: 207px;
  background: black;
  padding-bottom: 305px;
}

.walkways-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.walkways-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.walkways-item:nth-child(1n) {
  margin-bottom: 192px;
}

.wallkways-wrapper {
  max-width: 480px;
}

.walkways-text {
  color: var(--accent-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 4px;
}
.walkways-info {
  color: var(--walkways-secrets-info-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 2.8;
  letter-spacing: 0.18px;
  max-width: 408px;
  margin-bottom: 32px;
}

.walkways-btn {
  border-radius: 32px;
  background: var(--button-color);
  color: var(--neutral-white, #fff);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  width: 179.813px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* secrets */

.secrets {
  padding-top: 127px;
  background-image: url(../img/secrets.png);
  padding-bottom: 886px;
}

.secrets-title {
  color: var(--footer-color);
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;

  margin-bottom: 45px;
}

.secrets-list {
  display: flex;
  align-items: center;
  gap: 31px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.sekrets-wrapper {
  display: flex;
}

.secrets-box {
  text-align: center;
}

/* numbers */

.numbers {
  padding-top: 201px;
  padding-bottom: 224px;
  background-image: url(../img/numbers.png);
}

.numbers-list {
  display: flex;
}

.numbers-item {
  max-width: 340px;
  margin-right: auto;
  margin-left: auto;
}

.numbers-title {
  color: var(--accent-color);
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 37px;
}

.numbers-info {
  color: var(--walkways-secrets-info-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.8;
  letter-spacing: 0.5px;
  margin-bottom: 39px;
}

.numbers-container {
  max-width: 484px;
  margin-left: auto;
  margin-right: auto;
}

.numbers-text {
  color: var(--button-color);
  text-align: center;
  font-size: 42.137px;
  font-weight: 700;
  line-height: 49.16px;
  letter-spacing: 0.386px;
}

.numbers-information {
  color: var(--walkways-secrets-info-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.8;
  letter-spacing: 0.5px;
}

/* nothing */

.nothing {
  padding-top: 250px;
  padding-bottom: 255px;
  background-image: url(../img/nothing.png), url(../img/nothing.png);
  background-repeat: no-repeat;
}

.nothing-title {
  color: var(--title-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 32px;
  max-width: 614px;
  margin-left: auto;
  margin-right: auto;
}

.nothing-info {
  color: var(--background-white-info-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.8;
  letter-spacing: 0.5px;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

.nothing-btn {
  border-radius: 122px;
  background: var(--button-color);
  display: flex;
  width: 210px;
  height: 64px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

/* imagine */

.imagine {
  padding-top: 141px;
  padding-bottom: 255px;
  background-image: url(../img/imagine.png),
    linear-gradient(
      352deg,
      rgba(47, 33, 33, 0.8631827731092436) 0%,
      rgba(56, 29, 29, 0.8687850140056023) 82%
    );
}

.imagine-title {
  color: var(--accent-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 67px;
}

.imagine-text {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.imagine-photo {
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 125px;
}

.imagine-video1 {
  margin-right: 42px;
}

.imagine-info {
  color: var(--accent-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 17px;
  font-weight: 400;
  line-height: 2.8;
  letter-spacing: 0.5px;
  width: 324px;
  height: 107px;
}

.imagine-list {
  display: flex;
  justify-content: space-around;
}

.imagine-item {
  display: flex;
}

/* Gallery */

.gallery {
  padding-top: 177px;
  padding-bottom: 229px;
}

.gallery-list {
  width: 1170px;
  height: 770px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-title {
  color: var(--footer-color);
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 42px;
}

.gallery-info {
  color: var(--background-white-info-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.8;
  letter-spacing: 0.18px;
  margin-bottom: 71px;
}

.photo-gallery {
  display: block;
}

/* Getting */

.getting {
  padding-top: 119px;
  padding-bottom: 117px;
  background-color: #dce8f2;
}

.getting-title {
  color: var(--footer-color);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 45px;
}

.getting-nomber {
  color: var(--accent-color);
  font-size: 26.409px;
  font-weight: 500;
  line-height: 38.146px;
  position: absolute;
  top: 12px;
  left: 23px;
}

.puple-fon {
  background: #dd2242;
  border-radius: 50%;
  width: 59px;
  height: 59px;
  flex-shrink: 0;
  margin-right: 44px;
  margin-left: 45px;
  position: relative;
}

.getting-item {
  display: flex;
  flex-wrap: wrap;
}

.getting-box {
  width: 1039px;
  margin-bottom: 94px;
}

.getting-box-experinses {
  width: 1039px;
}

.getting-text {
  color: var(--footer-color);
  font-size: 26.409px;
  font-weight: 700;
  line-height: 41.081px;
  margin-bottom: 28px;
}

.getting-info {
  color: var(--Light-Text, rgba(21, 20, 57, 0.4));
  font-size: 23.475px;
  font-weight: 400;
  line-height: 38.146px;
}

.getting-fact {
  color: var(--footer-color);
  font-size: 26.409px;
  font-weight: 700;
  line-height: 41.081px;
  margin-bottom: 12px;
}

.getting-fact-information {
  color: var(--text-color);
  font-size: 23.475px;
  font-weight: 400;
  line-height: 38.146px;
  width: 447px;
}

.getting-motorbike {
  margin-right: 46px;
  margin-left: 71px;
  margin-bottom: 110px;
}

.getting-btn {
  display: flex;
  width: 210px;
  height: 64px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 122px;
  background: #dd2242;
  color: var(--accent-color);
  text-align: center;
  /* CTA */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  margin-left: 71px;
  margin-top: 17px;
}

/* footer */

footer {
  padding-top: 48px;
  padding-bottom: 32px;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-explore {
  color: var(--button-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 23.961px;
  font-weight: 900;
  line-height: 90.5%;
  letter-spacing: 0.315px;
  text-transform: uppercase;
}

.footer-list {
  display: flex;
  gap: 36px;
  margin-right: auto;
}

.footer-list-icon {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-right: 50px;
}

.footer-logo {
  color: var(--accent-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 23.961px;
  font-weight: 900;
  line-height: 90.5%;
  letter-spacing: 0.315px;
  text-transform: uppercase;
}

.footer-box {
  width: 128px;
  height: 57px;
  display: flex;
  align-items: center;
  margin-right: 124px;
}

.footer-link {
  color: var(--accent-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.8;
  letter-spacing: 0.5px;
}

footer {
  background-color: #010a20;
}
